.game__container {
  background-color: $color-lime;
  max-width: 100%;
  height: 100%;

  .intro__container {
    .intro__title {
      text-align: center;
      color: $color-pink;
      font-size: 25px;
      font-weight: bolder;
    }
  }

  .game__section {
    background-color: white;
    border: solid $color-pink 5px;
    border-radius: 20px;
    margin: auto;

    .winning__div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-orange;
      position: absolute;
      color: #ffff;
      margin: 200px auto;
      height: 300px;
      text-align: center;
      border-radius: 20px;

      i {
        text-align: center;
        padding-top: 20px;
      }
    }

    .game__sadfaces {
      display: grid;
      color: $color-blue;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

      grid-template-areas:
        ". sadface__angrycontainer sadface__angrycontainer ."
        ". sadface__crycontainer1 sadface__crycontainer2 ."
        "sadface__crycontainer3 sadface__crycontainer4 sadface__crycontainer5 sadface__crycontainer6"
        "sadface__tearcontainer7 sadface__tearcontainer8 sadface__tearcontainer9 sadface__tearcontainer10"
        "sadface__tearcontainer11 sadface__tearcontainer12 sadface__tearcontainer13 sadface__tearcontainer14";

      .sad__faces {
        margin: auto;
      }

      .sadface__angrycontainer {
        grid-area: sadface__angrycontainer;
        margin: auto;
        text-align: center;

        .sadface__angryhitpoints {
          font-size: 40px;
          font-style: bold;
        }
      }

      .sadface__crycontainer1 {
        grid-area: sadface__crycontainer1;
        margin: auto;
        text-align: center;

        .sadface__cryhitpoints1 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__crycontainer2 {
        grid-area: sadface__crycontainer2;
        margin: auto;
        text-align: center;

        .sadface__cryhitpoints2 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__crycontainer3 {
        grid-area: sadface__crycontainer3;
        margin: auto;
        text-align: center;

        .sadface__cryhitpoints3 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__crycontainer4 {
        grid-area: sadface__crycontainer4;
        margin: auto;
        text-align: center;

        .sadface__cryhitpoints4 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__crycontainer5 {
        grid-area: sadface__crycontainer5;
        margin: auto;
        text-align: center;

        .sadface__cryhitpoints5 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__crycontainer6 {
        grid-area: sadface__crycontainer6;
        margin: auto;
        text-align: center;

        .sadface__cryhitpoints6 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer7 {
        grid-area: sadface__tearcontainer7;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints7 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer8 {
        grid-area: sadface__tearcontainer8;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints8 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer9 {
        grid-area: sadface__tearcontainer9;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints9 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer10 {
        grid-area: sadface__tearcontainer10;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints10 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer11 {
        grid-area: sadface__tearcontainer11;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints11 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer12 {
        grid-area: sadface__tearcontainer12;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints12 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer13 {
        grid-area: sadface__tearcontainer13;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints13 {
          font-size: 30px;
          font-style: bold;
        }
      }

      .sadface__tearcontainer14 {
        grid-area: sadface__tearcontainer14;
        margin: auto;
        text-align: center;

        .sadface__tearhitpoints14 {
          font-size: 30px;
          font-style: bold;
        }
      }
    }

    .game__happyfaces {
      display: none;
    }
  }

  .game__button {
    display: flex;
    justify-content: center;
    background-color: $color-lime;

    .game__shootBTN {
      background-color: $color-pink;
      color: #ffff;
      font-style: bold;
      cursor: pointer;
      font-size: 40px;
      margin-top: 10px;
      border-radius: 20px;
      border: solid 5px #ffff;
    }

    .game__shootBTN:hover {
      background-color: #f90088;
    }
  }

  .game__restart {
    display: flex;
    justify-content: center;

    .game__restartBTN {
      background-color: $color-orange;
      color: #ffff;
      cursor: pointer;
      font-size: 20px;
      margin-top: 10px;
    }

    .game__restartBTN:hover {
      background-color: #ff9b33;
    }
  }

  .outro {
    text-align: center;
    margin-top: 25px;
  }
}
